/*---------
 font style
-----------  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: rgba(255, 255, 202, 0.774);
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:center;
    
}
/* ------------------=
top banner section
=-----------------*/
section > .top-banner{
    background-color: rgb(244, 255, 83);
    
}
.top-banner{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    /* width: 100%; */
    padding-bottom: 30px;
    margin-bottom: 15px;
    
}
.top-text{
    padding-left: 150px;
}
.top-title{
    color: rgb(5, 150, 0);
    font-size: 64px;
    width: 40%;
    margin-top: 100px;
    margin-left: 30px;
    margin-bottom: 0px;
    /* padding-bottom:40px;
    line-height: 90px; */
}
button{
    background-color: rgb(77, 192, 192) ;
    border: cyan;
    border-radius: 6px;
    box-shadow: black 1px 1px 20px 1px;
    font-size: 20px;
    font-style: bold;
    margin-left: 30px;
   
}
button:hover{
    width: 100px;
    height: 50px;
}
.top-image img{
    width: 500px;
    padding-right: 100px;
    margin-top: 70px;
}
/*--------------------
 player information table
 ------------------- */
 .players-section{
     width: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    
    
}
.players{
    margin-top: 27px;
    margin-right: 30px;
}
 .player{
     display: flex;
     flex-direction: column;
     height: 400px;
     width: 300px;
     padding: 8px;
     padding-bottom: 100px;
     box-shadow: gray 1px 1px 20px 1px;
 }
 .player-image img{
    width: 100%;
    height: 100%;    
 }
 .player-details{
     font-size: 15px;
     text-align: left;
     padding-bottom: 50px;

 }
 p{
     color: rgb(109, 109, 109);
 }

 /*---------------
    footer
 ----------- */
 footer{
     margin-top: 100px;
     text-align: center;
     font-size: 10px;
     color: rgb(128, 128, 128);
 }
 footer img{
     width: 420px;
 }
 .icons{
     color: rgb(128, 128, 128);
     font-size: 30px;
     padding: 1px;
     margin: 4px;
 }
 i{
     padding: 6px;
 }

 /*===================
 media queries
==================== */
@media only screen and (max-width:688px){ 
   
    main{
        display: flex;
        flex-wrap: wrap ;        
    }
   
    .top-banner {
        display: flex;
        flex-wrap: wrap ;
    
        /* width: 100%;
        padding-bottom: 20px;
        margin-bottom: 10px; */
    }
    .top-image img{
         margin-left:100px;
     }
     .player{
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 300px;
     }
    .players-section{
            width: 70%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
    }
   footer img{
       width: 40%;
   }
}
    
 